/*.cache
/*.phar
/*.zip
/out
/vendor
/logs/*.*
/.idea
/catalog/.phpunit.result.cache
/admin/.phpunit.result.cache
/admin/logs
/catalog/logs
/*.lock
/business/.phpunit.result.cache
/business/logs
/check/
/*.bak
/database/*.mwb
