<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php" backupGlobals="false"
         colors="true" processIsolation="true" verbose="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage/>
    <testsuites>
        <testsuite name="Combined Cases">
            <directory suffix="Test.php">cases/admin</directory>
            <directory suffix="Test.php">cases/api</directory>
            <directory suffix="Test.php">cases/business</directory>
            <directory suffix="Test.php">cases/catalog</directory>
            <directory suffix="Test.php">cases/core</directory>
            <directory suffix="Test.php">cases/database</directory>
            <directory suffix="Test.php">cases/general</directory>
            <directory suffix="Test.php">cases/issues</directory>
            <directory suffix="Test.php">cases/mail</directory>
            <directory suffix="Test.php">cases/report</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxText outputFile="logs/testdox.txt"/>
        <testdoxHtml outputFile="logs/testdox.html"/>
        <testdoxXml outputFile="logs/testdox.xml"/>
        <text outputFile="logs/visual-report.txt"/>
    </logging>
</phpunit>
