<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php" backupGlobals="false"
         colors="true" processIsolation="true" verbose="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage/>
    <testsuites>
        <testsuite name="Combined Admin Cases">
            <directory suffix="Test.php">../admin</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxText outputFile="../logs/admin/testdox.txt"/>
        <testdoxHtml outputFile="../logs/admin/testdox.html"/>
        <testdoxXml outputFile="../logs/admin/testdox.xml"/>
        <text outputFile="../logs/admin/visual-report.txt"/>
    </logging>
</phpunit>
